*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.colors{
    color: #F0F0F2;
    color: #474F59;
    color: #1F2226;
    color: #AEB5BF;
    color: #707F8C;
}

body{
    width: 100%;
    /* background: pink; */
    height: 100vh;
    font-family: 'Righteous', cursive;
    background: #474F59;
    display: flex;
}
.side-chart{
    background: #1F2226;
    width: 45%;
    height: 100%;
    
   
}

::-webkit-scrollbar {
    width: 10px;
  }
  


.title-box{
background: #1F2226;
height: 10%;
color: #F0F0F2;
font-size: 3vw;
display: flex;
justify-content: center;
align-items: center;
/* border-bottom: 1px solid ; */
box-shadow: 0 4px 6px -0px #AEB5BF;
/* border: 1px solid white; */
}

.title-bar{
/* border: 1px solid white; */
width: 90%;
display: flex;
justify-content: space-between;
align-items: center;
}

.chart-icons{
/* border: 1px solid white; */
width: 15%;
font-size: 2.3vw;
display: flex;
justify-content: space-between
}

.rank-container{
    border: 1px solid black;
    height: 90%;
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;     
    /* display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column; */
}

.hide{
    display: none;
}

.searchbox{
background: #1F2226;
height: 6%;
color: #F0F0F2;
font-size: 3vw;
display: flex;
justify-content: center;
align-items: center;
/* border-bottom: 1px solid ; */
box-shadow: 0 4px 6px -0px #AEB5BF;
}

.searchInp{
    border: none;
    width: 80%;
    height: 8%;
    background: #F0F0F2;
    border-radius: 20vw;
    padding: .9vw;
    color: #474F59;
    font-size: 1vw;
    font-family: 'Rubik', sans-serif;
}

.searchInp:focus{
    outline: none;
   
}
.rank-box{
border-bottom: 1px solid #474F59;
height: 8vw;
width: 100%;
color: #F0F0F2;
display: flex;
flex-direction: column;
/* box-shadow: 0 1px 3px -0px #AEB5BF; */
justify-content: center;
align-items: center;
margin: auto;
}

.rank-box:hover{
    cursor: pointer;
    background: #474F59;
}

.rank-info{
    justify-content: center;
    /* border: 1px solid white; */
    width: 100%;
    height: 95%;
    display: flex;
    justify-content: flex-start;
    align-items: center;    
}

.rank-num{
    margin-left: 2vw;
    font-size: 2.5vw;
    width: 5%;
}

.ctoggle:hover{
    cursor: pointer;
    color: #707F8C;
}

.album-art-box{
    width: 20%;
    height: 100%;
    /* border: 1px solid wheat; */
}

.album-art{
    width: 6vw;
    height: 6vw;
}

.song-info{
    width: 60%;
    height: 90%;
    /* border: 1px solid wheat; */
    font-family: 'Rubik', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

.album-art-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.song-title{
    font-size: 1.5vw;
}
.song-artist, .song-album{
    font-size: 1vw;
    margin-top: 4px
}


.play-btn-box{
    height: 100%;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
    /* border: 1px solid wheat; */
}


.countries-bar{
    background: rgb(38, 41, 46);
    width: 10%;
    height: 100%;

}


.cb{
    box-shadow: none;
    display: flex;
    justify-content: center;
    height: 5%;
    font-family: 'Rubik', sans-serif; 
    flex-direction: column; 
}



.sub-title{
    font-size: .9vw;
}

.cb-container{
    border: 1px solid black;
    height: 44.4vw;
    width: 100%;
    overflow: scroll;
    overflow-x: hidden; 
}

.cb-box{
border-bottom: 1px solid #474F59;
height: 3vw;
width: 100%;
color: #F0F0F2;
display: flex;
/* flex-direction: column; */
/* box-shadow: 0 1px 3px -0px #AEB5BF; */
/* border: 1px solid white; */
justify-content: space-evenly;
align-items: center;
margin: auto;
}

.cb-box:hover{
    cursor: pointer;
    background: #474F59;
}

.cb-name{
    font-size: 1vw
}




.info-bar{
    background: #1F2226;
    width: 43%;
    height: 100%;
    margin: auto;
    display: flex;
}

.track-info-cont{
    width: 40%;
    height: 90%;
    /* border: 1px solid white; */
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;   
    flex-direction: column; 
}

.track-info-wrap{
    /* border: 1px solid white; */
    height: 25%;
    width: 90%;
    color: #F0F0F2;
    font-size: 2em;
    font-family: 'Rubik', sans-serif;
}

.albumAll-cont{
    border: 1px solid #AEB5BF;
    width: 100%;
    height: 5%;
    display: flex;
}

.albumAll-btn{
    margin: auto;
    border: none;
    padding: 10px;
    background: #707F8C;
    color: #F0F0F2;
    font-family: 'Rubik', sans-serif;
    /* width: 90%; */
    /* border-radius: 20px; */
    width: 100%;
    display: flex;
    justify-content: center;
}


.track-lyrics-cont{
    width: 50%;
    height: 90%;
    /* border: 1px solid white; */
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;   
    background: rgb(112, 127, 140, 0.3); 
    border-radius: 10px;
}

.other-songs{
    width: 100%;
    height: auto;
    /* height: 50%; */
    /* border: 1px solid white */
    margin: auto;   
    background: rgb(112, 127, 140, 0.3); 
    /* border-radius: 10px; */
}

.other-songs .rank-box{
    height: 9%;
}

.other-song-info{
    /* margin: auto; */
    height: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #AEB5BF
}

.other-song-title{
    font-size: .45em
}


.track-title{
    font-size: 1.1em;
}

.track-artist{
    font-size: .7em;
}

.track-album{
    font-size: .7em;
}

.genre-container{
    /* border: 1px solid white; */
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.genre{
    font-size: .45em;
    background: darkolivegreen;
    padding: 8px;
    border-radius: 5px;
    margin-right: 7px;
    margin-top: 5px;
}




.lyrics-here{
    height: 100%;
    width: 100% ;
    margin: 0;
    text-align: left;
    background: none;
    border: none;
    color: #F0F0F2;
    font-family: 'Rubik', sans-serif; 
    font-size: 1.2em;
    resize: none;
    
    
}

.lyrics-here:focus{
    outline: none;
}

.lyrics-box{
    /* border: 1px solid #F0F0F2; */
    height: 90%;
    width: 80%;
    margin: auto;
    color: #F0F0F2;
    font-family:  'Rubik', sans-serif;
    font-weight: 100;  
}

/* SCROLL BAR CSS */
  /* Track */
  ::-webkit-scrollbar-track {
    background:  #1F2226; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #707F8C; 
    border-radius: 30px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #AEB5BF ; 
  }
/* SCROLL BAR END */
